body {
    background-color: black;
    color: white;
    text-align: center;
    width: 800px;
    margin: auto;
}

a {
    color: white;
}

img {
    width: 400px;
    height: auto;
    margin-bottom: 2rem;
}

ol, ul {
    text-align: left;
}

:not(nav) > ol,
:not(nav) > ul {
    width: 600px;
    margin: auto;
}


table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

table, td, th {
    border: 1px white solid;
    padding: 5px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    font-size: large;
}

nav ul li {
    padding-bottom: 10px;
}